<div class="container">
<h1 class="d-flex justify-content-center">Stupid Coaching</h1>

<p class="d-flex justify-content-center"> Question: <%=@question%></p>
<p class="d-flex justify-content-center"><%= @answer%></p>
<p class="d-flex justify-content-center"><%=link_to "another search", "/ask"%></p>

</div>
