
<div class="container">

<h1 class="d-flex justify-content-center">Stupid Coaching</h1>
<p class="d-flex justify-content-center">Ask your coach anything</p>


<form class="d-flex justify-content-center" action="/answer">
<input type="text" name= "question" placeholder="ask question">
<!-- <button type="sumbit" value="ask">ask</button> -->
<button type="sumbit" value ='ask'class="btn btn-primary">Ask</button>
</form>

</div>
